<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About me</h2>
<div class="summary">
  <p>I am an Assistant Professor at <a href="http://www.fit.cvut.cz/en/faculty/structure/departmets/kam">Department of Applied Mathematics</a> of the <a href="http://www.fit.cvut.cz">Faculty of Information Technology</a> at <a href="https://www.cvut.cz">Czech Technical University in Prague</a> and member of <a href="http://mafia.fjfi.cvut.cz">MAFIA group</a>.</p>
</div><!--//summary-->
</section><!--//section-->
