<section class="publications-section section">
<h2 class="section-title"><i class="fa fa-newspaper-o"></i>Publications</h2>

<div class="intro">
  <p>List of my publications.
  </p>
</div>

<div class="item">
<span class="publication-num"><a href="#4">4.</a></span>
<span class="publication-ref">Exner P., Kalvoda T., Tušek M.: A geometric Iwatsuka type effect in quantum layers, accepted in Journal of Mathematical Physics.
</span>
</div>

<div class="item">
<span class="publication-num"><a href="#3">3.</a></span>
<span class="publication-ref">Kalvoda T., Šťovíček P., A family of explicitly diagonalizable weighted Hankel matrices generalizing the Hilbert matrix, Linear and Multilinear Algebra 64 (2016) 870-884. [<a href="http://dx.doi.org/10.1080/03081087.2015.1064348">doi</a>]
</span>
</div>

<div class="item">
<span class="publication-num"><a href="#2">2.</a></span>
<span class="publication-ref">Kalvoda T., Šťovíček P.: A charged particle in a homogeneous magnetic field accelerated by a time-periodic Aharonov-Bohm flux, Ann. Phys. 326 (2011) 2702-2716. [<a href="http://dx.doi.org/10.1016/j.aop.2011.06.007">doi</a>]
</span>
</div>

<div class="item">
<span class="publication-num"><a href="#1">1.</a></span>
<span class="publication-ref">Asch J., Kalvoda T., Šťovíček P.: Resonant cyclotron acceleration of particles by a time periodic singular flux tube, SIAM J. Appl. Math. 71 (2011) 829-853. [<a href="http://dx.doi.org/10.1137/100809337">doi</a></span>]
</div>

</section>
