<section class="section teaching-section">
<h2 class="section-title"><i class="fa fa-university"></i>Teaching</h2>

<div class="item">
  <div class="meta">
    <div class="upper-row">
      <h3 class="course-title">Elements of calculus</h3>
      <div class="time">2012 - Present</div>
    </div><!--//upper-row-->
    <div class="university">Winter semester, FIT ČVUT</div>
  </div><!--//meta-->
  <div class="details">
    <p><a href="http://bilakniha.cvut.cz/en/predmet1122106.html">Syllabus</a>.</p>
  </div><!--//details-->
</div><!--//item-->

<div class="item">
  <div class="meta">
    <div class="upper-row">
      <h3 class="course-title">Selected mathematical topics</h3>
      <div class="time">2014 - Present</div>
    </div><!--//upper-row-->
    <div class="university">Summer semester, FIT ČVUT</div>
  </div><!--//meta-->
  <div class="details">
    <p><a href="http://bilakniha.cvut.cz/en/predmet3315206.html">Syllabus</a>.</p>
  </div><!--//details-->
</div><!--//item-->    

</section><!--//section-->
